$object__group-important: '-group-important';

@include init_modificator-size($object__group);
@include init_modificator-status($object__group);
@include init_modificator-status($object__group-important);

$__inheritance: object;
$__before-object: '';
$__object: this;
$__after-object: '';

.#{$object__group} {
	display: inline-block;
	font-size: 0;
	vertical-align: middle;

	.#{$object__group__appendix} {
		@extend %__object;

		border-width: $object__group__appendix-border-width;
		border-style: solid;

		@include set_modificator($mod__size, padding-object, font-size, line-height);
		@include set_modificator($mod__status, color-invert, border-color, background-color-lightener, text-shadow);
	}

	& > * {
		@include border-radius( 0px );
	}

	& > button,
	& > .#{$object__button},
	& > input[type="button"],
	& > .#{$object__group__appendix},
	& > input {

		& + button,
		& + .#{$object__button},
		& + input[type="button"],
		& + .#{$object__group__appendix},
		& + input {
			margin-left: -$object__button-border-width;
		}

		& + input {
			margin-left: -$object__form__input-border-width;
		}

		&:first-child {
			@include border-radius( $object__button-border-radius 0 0 $object__button-border-radius );
		}

		&:last-child {
			@include border-radius( 0 $object__button-border-radius $object__button-border-radius 0 );
		}
	}

	&.-#{$mod__status__disabled}- > * {
		@include box-shadow( none!important );
		cursor: default;
	}

	&.#{$mod__vertical} {
		button,
		.#{$object__button}, 
		input[type="button"],
		.#{$object__group__appendix},
		input {
			display: block;
			margin-left:0;

			&:first-child {
				@include border-radius( $object__button-border-radius $object__button-border-radius 0 0 );
			}

			&:last-child {
				@include border-radius( 0 0 $object__button-border-radius $object__button-border-radius );
			}
		}
	}

	.#{$mod__active},
	:active {
		position: relative;
		z-index: 0;
	}

	:not(:active),
	:not(.#{$mod__active}),
	:not(.-#{$mod__status__disabled}-) {
		position: relative;
		z-index: 1;
	}

	.-#{$mod__status__disabled}- {
		z-index: -1;
	}

}


$__inheritance: object;
$__before-object: '';
$__object: '.#{$object__group}';
$__after-object: 'button' 'input[type="button"]' '.#{$object__button}';
@include set_modificator($mod__status, color-invert, border-color, gradient-vertical, text-shadow);

$__inheritance: object;
$__before-object: '';
$__object: '.#{$object__group}';
$__after-object: 'button:hover' 'input[type="button"]:hover' '.#{$object__button}:hover';
@include set_modificator($mod__status, gradient-vertical-darken);

$__inheritance: object;
$__before-object: '';
$__object: '.#{$object__group}';
$__after-object: 'button:active' 'input[type="button"]:active' '.#{$object__button}:active' 'button.#{$mod__active}' 'input[type="button"].#{$mod__active}' '.#{$object__button}.#{$mod__active}';
@include set_modificator($mod__status, gradient-vertical-darkener);

$__inheritance: object;
$__before-object: '';
$__object: '.#{$object__group}.#{$mod__loading}';
$__after-object: 'button' 'input[type="button"]' '.#{$object__button}';
@include set_modificator(exclude-items($mod__status,$mod__status__disabled, default), loading);
@include set_modificator(only-items($mod__status,$mod__status__disabled, default), loading-dark);

$__inheritance: object;
$__before-object: '';
$__object: '.#{$object__group}';
$__after-object: append-list('button:hover' 'input[type="button"]:hover' '.#{$object__button}:hover' 'button:active' 'input[type="button"]:active' '.#{$object__button}:active' 'button.#{$mod__active}' 'input[type="button"].#{$mod__active}' '.#{$object__button}.#{$mod__active}', '', '.#{$mod__unclickable}');
@include set_modificator($mod__status, gradient-vertical);




$__inheritance: $object__group;
$__before-object: '.#{$object__group}';
$__object: 'button' 'input[type="button"]' '.#{$object__button}';
$__after-object: '';
@include set_modificator($mod__status, color-invert, border-color, gradient-vertical, text-shadow);

$__inheritance: $object__group-important;
$__before-object: '.#{$object__group}';
$__object: 'button:hover' 'input[type="button"]:hover' '.#{$object__button}:hover';
$__after-object: '';
@include set_modificator($mod__status, gradient-vertical-darken);

$__inheritance: $object__group-important;
$__before-object: '.#{$object__group}';
$__object: 'button:active' 'input[type="button"]:active' '.#{$object__button}:active' 'button.#{$mod__active}' 'input[type="button"].#{$mod__active}' '.#{$object__button}.#{$mod__active}';
$__after-object: '';
@include set_modificator($mod__status, gradient-vertical-darkener);

$__inheritance: $object__group-important;
$__before-object: '.#{$object__group}';
$__object: 'button.#{$mod__loading}' 'input[type="button"].#{$mod__loading}' '.#{$object__button}.#{$mod__loading}';
$__after-object: '';
@include set_modificator(exclude-items($mod__status,$mod__status__disabled, default), loading);
@include set_modificator(only-items($mod__status,$mod__status__disabled, default), loading-dark);

$__inheritance: $object__group-important;
$__before-object: '.#{$object__group}';
$__object: append-list('button:hover' 'input[type="button"]:hover' '.#{$object__button}:hover' 'button:active' 'input[type="button"]:active' '.#{$object__button}:active' 'button.#{$mod__active}' 'input[type="button"].#{$mod__active}' '.#{$object__button}.#{$mod__active}', '', '.#{$mod__unclickable}');
$__after-object: '';
@include set_modificator($mod__status, gradient-vertical);







$__inheritance: object;
$__before-object: '';
$__object: '.#{$object__group}';
$__after-object: $_input-list;
@include set_modificator($mod__status, border-color);
@include set_modificator(only-items($mod__status,$mod__status__disabled), color, background-color);

$__inheritance: object;
$__before-object: '';
$__object: '.#{$object__group}';
$__after-object: append-list( $_input-list, '', ':hover' );
@include set_modificator(exclude-items($mod__status,$mod__status__disabled), border-color-darken);

$__inheritance: object;
$__before-object: '';
$__object: '.#{$object__group}';
$__after-object: append-list( $_input-list, '', ':focus' );
@include set_modificator(exclude-items($mod__status,$mod__status__disabled), outline);



$__inheritance: $object__group-important;
$__before-object: '.#{$object__group}';
$__object: $_input-list;
$__after-object: '';
@include set_modificator($mod__status, border-color);
@include set_modificator(only-items($mod__status,$mod__status__disabled), color, background-color);

$__inheritance: $object__group-important;
$__before-object: '.#{$object__group}';
$__object: append-list( $_input-list, '', ':hover' );
$__after-object: '';
@include set_modificator(exclude-items($mod__status,$mod__status__disabled), border-color-darken);

$__inheritance: $object__group-important;
$__before-object: '.#{$object__group}';
$__object: append-list( $_input-list, '', ':focus' );
$__after-object: '';
@include set_modificator(exclude-items($mod__status,$mod__status__disabled), outline);







$__inheritance: object;
$__before-object: '';
$__object: '.#{$object__group}';
$__after-object: '.#{$object__group__appendix}';
@include set_modificator($mod__status, color-invert, border-color, background-color-lightener, text-shadow);

$__inheritance: $object__group-important;
$__before-object: '.#{$object__group}';
$__object: '.#{$object__group__appendix}';
$__after-object: '';
@include set_modificator($mod__status, color-invert, border-color, background-color-lightener, text-shadow);






$__inheritance: object;
$__before-object: '';
$__object: '.#{$object__group}';
$__after-object: 'button' 'input[type="button"]' '.#{$object__button}' '.#{$object__group__appendix}';
@include set_modificator($mod__size, padding-object, font-size, line-height);

$__inheritance: $object__group;
$__before-object: '';
$__object: '.#{$object__group}';
$__after-object: $_input-list;
@include set_modificator($mod__size, input-line-height, font-size, input-padding);