[class*="#{$object__icon}"],
[class^="#{$object__icon}"],
.#{$object__icon} {
	line-height: 0;
	-webkit-font-smoothing: antialiased;
}

.#{$object__icon} {
	&:before {
		content: "\f000";
		@include opacity( 0 );
	}
}

.-#{$mod__status__disabled}- {
	[class*="#{$object__icon}"],
	.#{$object__icon} {
		opacity: .4;
	}
}









@font-face {
	font-family: 'FontAwesome';
	src: url('#{$font-path}/fontawesome/fontawesome-webfont.eot');
	src: url('#{$font-path}/fontawesome/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
		 url('#{$font-path}/fontawesome/fontawesome-webfont.woff') format('woff'),
		 url('#{$font-path}/fontawesome/fontawesome-webfont.ttf') format('truetype'),
		 url('#{$font-path}/fontawesome/fontawesome-webfont.svg#zocialregular') format('svg');
	font-weight: normal;
	font-style: normal;

}

[class*="#{$object__icon}"],
[class^="#{$object__icon}"],
.#{$object__icon} {
	&:before {
		font-family: 'FontAwesome'!important;
		font-style: normal;
	}
}

@each $icon in $object__icon__names {
	.#{$object__icon}-#{$icon}:before {
		content: nth($object__icon__content, index($object__icon__names, $icon));
	}
}




@font-face {
	font-family: 'Zocial';
	src: url('#{$font-path}/zocial/zocial-regular-webfont.eot');
	src: url('#{$font-path}/zocial/zocial-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('#{$font-path}/zocial/zocial-regular-webfont.woff') format('woff'),
		 url('#{$font-path}/zocial/zocial-regular-webfont.ttf') format('truetype'),
		 url('#{$font-path}/zocial/zocial-regular-webfont.svg#zocialregular') format('svg');
	font-weight: normal;
	font-style: normal;

}

[class*="#{$object__icon__social}"],
[class^="#{$object__icon__social}"],
.#{$object__icon__social} {
	background-image: none;
	
	&:before {
		font-family: 'Zocial'!important;
		font-style: normal;
	}
}


@each $icon in $object__icon__social-names {
	.#{$object__icon__social}-#{$icon}:before {
		content: nth($object__icon__social-content, index($object__icon__social-names, $icon));
	}
}


// ******************************************************************************************************************* //
// *************************************************** FOR SPRITES *************************************************** //
// ******************************************************************************************************************* //

// [class*="#{$object__icon}"],
// [class^="#{$object__icon}"],
// .#{$object__icon} {
// 	display: inline-block;
// 	width: $object__icon-width;
// 	height: $object__icon-height;
// 	vertical-align: middle;
// 	margin-top: -2px;
// 	background-repeat: no-repeat;
// 	background-position: $object__icon-width $object__icon-height;

// 	@each $color in $object__icon-colors {
// 		$i: index($object__icon-colors, $color);

// 		@if $color == default {
// 			background-image: url(nth($object__icon-colors-paths, $i));
// 		}
// 		@else {
// 			&.#{$object__icon}-#{$color}- {
// 				background-image: url(nth($object__icon-colors-paths, $i));
// 			}
// 		}
// 	}
// }

// @for $i from 1 through $object__icon-rows {
// 	@for $j from 1 through $object__icon-cols {
// 		.#{$object__icon}-#{nth($object__icon-list, ( ($i - 1) * $object__icon-cols + $j ) )} {
// 			background-position: ($j - 1) * -$object__icon-cols-delta ($i - 1) * -$object__icon-rows-delta;
// 		}
// 	}
// }