@-webkit-keyframes stripes-animation {
  from  { background-position: 40px 0; }
  to    { background-position: 0 0; }
}

@-moz-keyframes stripes-animation {
  from  { background-position: 40px 0; }
  to    { background-position: 0 0; }
}

@-ms-keyframes stripes-animation {
  from  { background-position: 40px 0; }
  to    { background-position: 0 0; }
}

@-o-keyframes stripes-animation {
  from  { background-position: 0 0; }
  to    { background-position: 40px 0; }
}

@keyframes stripes-animation {
  from  { background-position: 40px 0; }
  to    { background-position: 0 0; }
}

@mixin init_modificator-status( $__inheritance: object ){
	
	@each $status in $mod__status {
		$num: index( $mod__status, $status );
		$important: '';

		@if $status == disabled {
			$important: '!important';
		}

		%#{$__inheritance}-status-#{$status}-color {
			color: nth($mod__status-color, $num)#{$important};
		}

		%#{$__inheritance}-status-#{$status}-color-darken {
			color: nth($mod__status-color-darken, $num)#{$important};
		}

		%#{$__inheritance}-status-#{$status}-color-invert {
			color: nth($mod__status-color-invert, $num)#{$important};
		}

		%#{$__inheritance}-status-#{$status}-text-shadow {
			@include text-shadow( #{nth($mod__status-text-shadow, $num)}#{$important} );
		}

		%#{$__inheritance}-status-#{$status}-color-important {
			color: nth($mod__status-color, $num)!important;
		}

		%#{$__inheritance}-status-#{$status}-color-invert-important {
			color: nth($mod__status-color-invert, $num)!important;
		}



		%#{$__inheritance}-status-#{$status}-border-color {
			border-color: nth($mod__status-border-color, $num)#{$important};
		}

		%#{$__inheritance}-status-#{$status}-border-color-darken {
			border-color: nth($mod__status-border-color-darken, $num)#{$important};
		}

		%#{$__inheritance}-status-#{$status}-border-color-darkener {
			border-color: nth($mod__status-border-color-darkener, $num)#{$important};
		}

		%#{$__inheritance}-status-#{$status}-border-color-lighten {
			border-color: nth($mod__status-border-color-lighten, $num)#{$important};
		}

		%#{$__inheritance}-status-#{$status}-border-color-lightener {
			border-color: nth($mod__status-border-color-lightener, $num)#{$important};
		}

		%#{$__inheritance}-status-#{$status}-border-color-important {
			border-color: nth($mod__status-border-color, $num)#{'!important'};
		}



		%#{$__inheritance}-status-#{$status}-background-color {
			background-color: nth($mod__status-background-color, $num)#{$important};
		}

		%#{$__inheritance}-status-#{$status}-background-color-lighten {
			background-color: nth($mod__status-background-color-lighten, $num)#{$important};
		}

		%#{$__inheritance}-status-#{$status}-background-color-lightener {
			background-color: nth($mod__status-background-color-lightener, $num)#{$important};
		}

		%#{$__inheritance}-status-#{$status}-background-color-darken {
			background-color: nth($mod__status-background-color-darken, $num)#{$important};
		}

		%#{$__inheritance}-status-#{$status}-background-color-darkener {
			background-color: nth($mod__status-background-color-darkener, $num)#{$important};
		}



		%#{$__inheritance}-status-#{$status}-gradient-vertical {
			@if nth($mod__status-background-color, $num) != transparent and $status != disabled  {
				@include gradient-vertical( lighten(nth($mod__status-background-color, $num), 15%), nth($mod__status-background-color, $num) );
			}
			@else {
				background: nth($mod__status-background-color, $num)#{$important};
			}
			// background-color: nth($mod__status-background-color, $num)#{$important};
		}

		%#{$__inheritance}-status-#{$status}-gradient-vertical-darken {
			@if nth($mod__status-background-color, $num) != transparent and $status != disabled {
				@include gradient-vertical( lighten(nth($mod__status-background-color, $num),5%), darken(nth($mod__status-background-color, $num), 5%) );
			}
			@else {
				background: nth($mod__status-background-color, $num)#{$important};
			}
		}

		%#{$__inheritance}-status-#{$status}-gradient-vertical-darkener {
			@if nth($mod__status-background-color, $num) != transparent and $status != disabled {
				@include gradient-vertical( darken(nth($mod__status-background-color, $num),5%), darken(nth($mod__status-background-color, $num), 15%) );
			}
			@else {
				background: nth($mod__status-background-color, $num)#{$important};
			}
		}

		%#{$__inheritance}-status-#{$status}-gradient-vertical-three {
			@if nth($mod__status-background-color, $num) != transparent {
				@include gradient-vertical-three-colors( rgba(nth($mod__status-background-color, $num), 0), nth($mod__status-background-color, $num), 50%, rgba(nth($mod__status-background-color, $num),0) );
			}
			@else {
				background: nth($mod__status-background-color, $num)#{$important};
			}
			// background-color: nth($mod__status-background-color, $num)#{$important};
		}

		%#{$__inheritance}-status-#{$status}-gradient-horizontal-three {
			@if nth($mod__status-background-color, $num) != transparent {
				@include gradient-horizontal-three-colors( rgba(nth($mod__status-background-color, $num),0), nth($mod__status-background-color, $num), 50%, rgba(nth($mod__status-background-color, $num),0) );
			}
			@else {
				background: nth($mod__status-background-color, $num)#{$important};
			}
			// background-color: nth($mod__status-background-color, $num)#{$important};
		}

		// %#{$__inheritance}-status-#{$status}-shadow {
		// 	@include box-shadow(#{nth($mod__status-shadow, $num)});
		// }

		// %#{$__inheritance}-status-#{$status}-shadow-long {
		// 	@include box-shadow(#{nth($mod__status-shadow-long, $num)});
		// }

		%#{$__inheritance}-status-#{$status}-shadow {
			@include box-shadow( #{nth($mod__status-shadow, $num)}#{$important} );
		}

		%#{$__inheritance}-status-#{$status}-outline {
			@if nth($mod__status-background-color, $num) != transparent and $status != disabled {
				@include box-shadow(#{nth($mod__status-outline, $num)}#{$important});
			} @else {
				@include box-shadow(none!important);
			}
		}

		%#{$__inheritance}-status-#{$status}-loading {
			
			@include gradient-stripes( 45deg );
			background-size: 40px 40px!important;
			@include animation( stripes-animation 2s linear infinite );

		}

		%#{$__inheritance}-status-#{$status}-loading-dark {
			
			@include gradient-stripes-dark( 45deg );
			background-size: 40px 40px!important;
			@include animation( stripes-animation 2s linear infinite );

		}
	}

}