header{
	text-align: center;
	text-transform: uppercase;
	margin-top: 20px;
}

.-row{
	background-color: #fffccc;
	width: 1300px;
	margin: 0 auto;
}

article{
	background-color: rgba(100,50,30,.4);
}

aside{
	background-color: rgba(10,60,130,.2);
}

.tengah{
    text-align: center;
}

body {
    padding-top: 20px;
    padding-bottom: 60px;
}

.front{
    position: relative;
    z-index:10;
}

.-tabs li {
    
}

.s1{
	background:#21a459;
	color:white;
	padding:20px;
}
.d3{
	background:#2980B9;
	color:white;
	padding:20px;
}

footer{
    clear: both;
    background: none;
    margin-top: 20px;
    text-align: center;
}
.white{
    color: white
}