header{
	text-align: center;
	text-transform: uppercase;
	margin-top: 20px;
}

.-row{
	background-color: #fffccc;
	width: 1300px;
	margin: 0 auto;
}

article{
	background-color: rgba(100,50,30,.4);
}

aside{
	background-color: rgba(10,60,130,.2);
}

.tengah{
    text-align: center;
}

body {
    padding-top: 20px;
    padding-bottom: 60px;
}


.container {
    margin: 0 auto;
    max-width: 1000px;
    padding: 20px;
}

.front{
    position: relative;
    z-index:10;
}