body {
    background: white;
    padding-top: 20px;
    padding-bottom: 60px;
}

.kapital{
    text-transform: capitalize;
}

.container{
    width: 1150px;   
}
.ft{
    background: #2C3E50;
    padding:10px 10px 10px 10px;
    color:white;
}

.tabel_jadwal{
    text-transform: capitalize;
    color: black;
}
.tabel_jadwal .tab-head{
    background: #2C3E50;
    color: white;
}

.edit_jadwal{
    text-transform: capitalize;
    width: 300px;
    margin: 0px auto;
}
.edit_jadwal h3{
    background: white;
    padding: 10px;
    text-align: center;
    border-top: 4px solid #2980B9;
    margin-top: 0px;
}
.box-jadwal{
    margin: 0px auto;
}

.form_input{
    text-transform: capitalize;
    width: 300px;
    margin: 0px auto;
}
.form_input h3{
    background: white;
    padding: 10px;
    text-align: center;
    border-top: 4px solid #2980B9;
    margin-top: 0px;
}