section{
    background-color: rgba(120,150,30,.4);
    /*width: content-box;*/
}

article{
	background-color: rgba(120,150,30,.4);
        margin: 0px;
        padding: 0px;
}

aside{
	background-color: rgba(10,60,130,.2);        
}